# Dependencias
node_modules/
npm-debug.log*

# Variables de entorno
.env
.env.local

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Logs
logs/
*.log

# Build
dist/
build/

# Angular
frontend/.angular/
frontend/dist/

# Backend
backend/node_modules/
